<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skill Verification</title>
</head>
<body>
    <h1>Skill Verification</h1>
    

    <!-- Section to upload certifications   -->
    <h2>Upload Certifications</h2>
    <form action="../controller/verification_sql.php" method="post" enctype="multipart/form-data">
        <label for="certification">Choose a certification to upload:</label>
        <input type="file" id="certification" name="certification" accept=".pdf, .jpg, .png">
        <button type="submit" name="verification"> Upload </button>
   
</body>
</html>
